<!DOCTYPE html>
<html lang="ja" ng-app="todoApp">
<!--
データバインディング：
自動的にモデルに変更があればビューが更新され、ビューが更新されたらモデルが変更される。
このおかげでDOM操作を省略できます。

コントローラ：
DOM要素の背後にある振る舞いです。
AngularJS は、DOM更新やコールバックの登録やモデルの変更の監視といった決まり文句を使わずに
可読しやすい振る舞いを表現させます。

JavaScriptのまま：
他のフレームワークとは違って、アクセサメソッドでモデルをラップするために
組み込み型を継承する必要がありません。
AngularモデルはプレーンなJavascriptのオブジェクトです。
このためコードのテストやメンテナンスや再利用が容易になります。
-->
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('todoApp', []).controller('TodoController', ['$scope', function($scope){
			$scope.todos = [
				{text: 'learn angular', done:true},
				{text: 'build an agulaer app', done:false}
			];

			$scope.addTodo = function(){
				$scope.todos.push({text: $scope.todoText, done: false});
				$scope.todoText = '';
			};

			$scope.remaining = function(){
				var count = 0;
				angular.forEach($scope.todos, function(todo){
					count += todo.done? 0: 1;
				});
				return count;
			};

			$scope.archive = function(){
				var oldTodos = $scope.todos;
				$scope.todos = [];
				angular.forEach(oldTodos, function(todo){
					if (!todo.done) {
						$scope.todos.push(todo);
					}
				});
			};
		}]);
	</script>
	<style type="text/css">
		.done-true {
		  text-decoration: line-through;
		  color: grey;
		}
	</style>
	<title>AngularJS</title>
</head>
<body>
	<h2>Todo</h2>
	<div ng-controller="TodoController">
		<span>{{remaining()}} of {{todos.length}} remaining</span>
		[ <a href="" ng-click="archive()">archive</a> ]
		<ul class="unstyled">
			<li ng-repeat="todo in todos">
			  <input type="checkbox" ng-model="todo.done">
			  <span class="done-{{todo.done}}">{{todo.text}}</span>
			</li>
		</ul>
		<form action="" ng-submit="addTodo()">
		  <input type="text" ng-model="todoText" size="30" placeholder="add new todo here">
		  <input type="submit" class="btn-primary" value="add">
		</form>
	</div>
</body>
</html>